In [31]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [32]:
df_data = pd.read_excel("_ml_jug.xlsx")

In [33]:
df_data

,nombre,edad,alt,pos,torneo,set,saque,NF_total,w_total,sm_total,...,m7,pts_ganados,games_jug,circuito,fase,mano,spcsm,bloc,partido,nfr
0,Bela,43,1.80,izq,abu_d,set1,1,2,4,2,...,4,7,5,WPT,Cuartos,der,NaN,NaN,NaN,NaN
1,Sanyo,38,1.75,der,abu_d,set1,1,4,6,4,...,3,11,5,WPT,Cuartos,der,NaN,NaN,NaN,NaN
2,Bela,43,1.80,izq,abu_d,set2,1,4,2,0,...,2,3,5,WPT,Cuartos,der,NaN,NaN,NaN,NaN
3,Sanyo,38,1.75,der,abu_d,set2,1,3,2,1,...,1,3,5,WPT,Cuartos,der,NaN,NaN,NaN,NaN
4,Bela,43,1.80,izq,abu_d,set1,2,3,1,0,...,1,1,4,WPT,Cuartos,der,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123,Chingotto,26,1.70,der,Vigo,set3,1,2,0,0,...,2,3,4,WPT,Cuartos,der,0.0,0.0,msvspc,NaN
1124,Momo,26,1.80,izq,Vigo,set3,2,2,0,0,...,0,2,4,WPT,Cuartos,der,0.0,0.0,msvspc,NaN
1125,Sanyo,38,1.75,der,Vigo,set3,2,1,4,4,...,3,4,4,WPT,Cuartos,der,0.0,0.0,msvspc,NaN
1126,Paquito,34,1.81,izq,Vigo,set3,2,3,2,0,...,3,6,4,WPT,Cuartos,der,1.0,0.0,msvspc,NaN
1127,Chingotto,26,1.70,der,Vigo,set3,2,3,0,0,...,0,1,4,WPT,Cuartos,der,0.0,0.0,msvspc,NaN

In [34]:
len(df_data.columns)

26

In [35]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nombre       1128 non-null   object
 1   edad         1128 non-null   int64
 2   alt          1128 non-null   float64
 3   pos          1128 non-null   object
 4   torneo       1128 non-null   object
 5   set          1128 non-null   object
 6   saque        1128 non-null   int64
 7   NF_total     1128 non-null   int64
 8   w_total      1128 non-null   int64
 9   sm_total     1128 non-null   int64
 10  nsmtotal     1128 non-null   int64
 11  prec sm%     840 non-null    float64
 12  csm          1128 non-null   int64
 13  fondo        1128 non-null   int64
 14  m3           1128 non-null   int64
 15  m5           1128 non-null   int64
 16  m7           1128 non-null   int64
 17  pts_ganados  1128 non-null   int64
 18  games_jug    1128 non-null   int64
 19  circuito     1128 non-null   object
 20  fase         1128 non-null   object
 21  mano         1128 non-null   object
 22  spcsm        424 non-null    float64
 23  bloc         424 non-null    float64
 24  partido      424 non-null    object
 25  nfr          80 non-null     float64
dtypes: float64(5), int64(13), object(8)
memory usage: 229.2+ KB

In [36]:
df_data.isna().sum()

nombre            0
edad              0
alt               0
pos               0
torneo            0
set               0
saque             0
NF_total          0
w_total           0
sm_total          0
nsmtotal          0
prec sm%        288
csm               0
fondo             0
m3                0
m5                0
m7                0
pts_ganados       0
games_jug         0
circuito          0
fase              0
mano              0
spcsm           704
bloc            704
partido         704
nfr            1048
dtype: int64

In [41]:
cc = pd.DataFrame()
cc = cc.assign(name = df_data["nombre"])
cc = cc.assign(pxg = df_data["pts_ganados"]/df_data['games_jug'])
cc = cc.assign(nfxg = df_data["NF_total"]/df_data['games_jug'])
cc = cc.assign(rem = (df_data["sm_total"] + df_data["nsmtotal"])/df_data['games_jug'])

cc = cc.groupby("name")[["pxg","nfxg","rem"]].mean().sort_values(by="pxg", ascending=False)

cc

                 pxg      nfxg       rem
name
Dalbianco   1.700000  0.346970  0.709848
Paquito     1.699123  0.458772  0.664912
Tolito      1.641667  0.375000  0.486667
Coello      1.593269  0.302564  0.759295
Stupa       1.567568  0.518919  0.666892
Tapia       1.543109  0.328045  0.629647
Lamperti    1.518056  0.258333  0.676389
Galan       1.498611  0.502315  0.610648
Leal        1.443750  0.437500  1.006250
Augsburger  1.434375  0.834375  0.857292
Pincho      1.417361  0.295833  0.611806
Lijo        1.413889  0.391667  0.748611
Momo        1.412179  0.369872  0.484936
Moyano      1.395833  0.537500  0.512500
Diestro     1.393056  0.520139  0.438889
Ivanxo      1.378030  0.531818  0.500758
Yanguas     1.365741  0.271296  0.523148
JaviRico    1.337500  0.162500  0.125000
Alex Ruiz   1.326923  0.649359  0.513462
Torres      1.325000  0.615000  0.210000
Di Nenno    1.279505  0.269369  0.350225
Lebron      1.278646  0.418750  0.475000
Arce        1.258333  0.268939  0.457576
Sanyo       1.252564  0.527244  0.481090
Zapata      1.241667  0.377778  0.977778
Bela        1.241667  0.650000  0.372222
Garrido     1.231944  0.395833  0.504167
Sanz        1.225833  0.630833  0.535000
Rico        1.218333  0.635000  0.463333
Belluati    1.216667  0.680833  0.280000
De Pascual  1.212500  0.475000  0.500000
Rubio       1.208333  0.125000  0.645833
Campagnolo  1.200000  0.400000  0.441667
Cardona     1.197917  0.636458  0.538542
Capra       1.197917  0.406250  0.656250
Xisco       1.197222  0.313889  0.479167
Sans        1.183333  0.472222  0.186111
Allemandi   1.174167  0.340000  0.165833
Gutierrez   1.158333  0.350000  0.291667
Maxi        1.154167  0.635417  0.260417
Semmler     1.141667  0.544444  0.165278
Tello       1.103205  0.535256  0.375000
Ramos       1.085000  0.555000  0.045000
Chingotto   1.051587  0.414286  0.077381
Coki        1.009375  0.182292  0.314583
JMD         1.000000  0.700000  0.150000
Libaak      0.979167  0.684722  0.384722
Ruiz        0.958333  0.333333  0.437500
Silingo     0.950000  0.400000  0.200000
Alfonso     0.825000  0.837500  0.425000

In [40]:
def redondear_2(x):
    return round(x, 2)

# Aplica la funciÃ³n a todas las columnas en el DataFrame cc
cc = cc.apply(redondear_2)
cc

             pxg  nfxg   rem
name
Dalbianco   1.70  0.35  0.71
Paquito     1.70  0.46  0.66
Tolito      1.64  0.38  0.49
Coello      1.59  0.30  0.76
Stupa       1.57  0.52  0.67
Tapia       1.54  0.33  0.63
Lamperti    1.52  0.26  0.68
Galan       1.50  0.50  0.61
Leal        1.44  0.44  1.01
Augsburger  1.43  0.83  0.86
Pincho      1.42  0.30  0.61
Lijo        1.41  0.39  0.75
Momo        1.41  0.37  0.48
Moyano      1.40  0.54  0.51
Diestro     1.39  0.52  0.44
Ivanxo      1.38  0.53  0.50
Yanguas     1.37  0.27  0.52
JaviRico    1.34  0.16  0.12
Alex Ruiz   1.33  0.65  0.51
Torres      1.32  0.62  0.21
Di Nenno    1.28  0.27  0.35
Lebron      1.28  0.42  0.48
Arce        1.26  0.27  0.46
Sanyo       1.25  0.53  0.48
Zapata      1.24  0.38  0.98
Bela        1.24  0.65  0.37
Garrido     1.23  0.40  0.50
Sanz        1.23  0.63  0.53
Rico        1.22  0.64  0.46
Belluati    1.22  0.68  0.28
De Pascual  1.21  0.48  0.50
Rubio       1.21  0.12  0.65
Campagnolo  1.20  0.40  0.44
Cardona     1.20  0.64  0.54
Capra       1.20  0.41  0.66
Xisco       1.20  0.31  0.48
Sans        1.18  0.47  0.19
Allemandi   1.17  0.34  0.17
Gutierrez   1.16  0.35  0.29
Maxi        1.15  0.64  0.26
Semmler     1.14  0.54  0.17
Tello       1.10  0.54  0.38
Ramos       1.08  0.55  0.04
Chingotto   1.05  0.41  0.08
Coki        1.01  0.18  0.31
JMD         1.00  0.70  0.15
Libaak      0.98  0.68  0.38
Ruiz        0.96  0.33  0.44
Silingo     0.95  0.40  0.20
Alfonso     0.82  0.84  0.42